:root {
/* colors */
--elv2-color:#3c3846;

--surface-color:#141218;
--on-surface-color:#E6E0E9;
--on-surface-varient-color:#CAC4D0;
--surface-container-color:#211F26;

/* font */
--title-font-name: Roboto;
--title-font-size: 16pt;
--title-font-weight: 500;

--body-font-name: Roboto;
--body-font-size: 14pt;
--body-font-weight: 400;

--body-small-font-size: 12pt;
}